@import "variables";
@import "mixins";
@import "elements";

@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans:400,700&display=swap');

body {
  background: #e9e9e9;
  font-family: $font-primary;
}

.content {
  max-width: $app-width;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: $app-width) {
    padding: 0 16px;
    margin-bottom: 50px;
  }
}

.app-heading {
  text-align: center;
  font-size: 60px;
  color: rgba(252, 190, 3, 0.8);
  font-weight: bold;
  font-family: $font-secondary;
  margin: 32px 0;
}

.todo-creator {
  width: 100%;

  input {
    width: calc( 100% - 16px);
    border-radius: 4px;
    -webkit-appearance: none;
    border: none;
    padding: 8px;
    font-size: 18px;
    background: rgba(255,255,255,0.5);

    @include shadow();
  }
}

div.controls {
  display: flex;
  justify-content: space-between;

  margin-top: 16px;

  button {
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    opacity: 0.5;

    &:hover {
      background: rgba(252, 190, 3, 0.5);
    }
  }
}

ul.todos {
  list-style: none;

  padding-left: 0;
  margin-top: 16px;

  border-left: 1px solid rgba(0,0,0,0.2);
  border-right: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;

  @include shadow();

  li {
    font-family: $font-secondary;
    font-size: 34px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid rgba(0,0,0,0.2);
    background: rgba(255,255,255,0.5);

    padding: 4px 8px;

    div.checked {
      width: 16px;
      height: 16px;

      &:before {
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        visibility: visible;
      }

      &.active {
        &:before {
          content: " ";
          background-color: $checkbox-not-done;
          border: 1px solid $checkbox-done;
          display: inherit;
        }
      }

      &.done {
        &:before {
          font-family: "Font Awesome 5 Pro";
          content: "\f00c";

          background-color: $checkbox-done;
          border: 1px solid $checkbox-done;

          display: flex;
          justify-content: center;
          align-items: center;

          color: white;
          font-size: 12px;
          font-weight: 600;
          text-align: center;
        }
      }
    }

    form {
      width: calc(100% - 32px);
      display: flex;
      padding: 0 16px;

      input[type=text] {
        width: calc(100% - 32px);

        font-size: 32px;
        font-family: $font-secondary;

        border-radius: 4px;

        padding-left: 8px;
        padding-bottom: 2px;

        &:focus {
          border: none;
        }
      }
    }


    span {
      opacity: 0.5;
      cursor: pointer;

      width: calc(100% - 32px);
      padding-left: 16px;

      &.completed {
        text-decoration: line-through;
        opacity: 0.2;
      }
    }

    i {
      cursor: pointer;

      font-size: 16px;
      color: #fe9a9a;

      width: 16px;
      height: 16px;
    }
  }

}

.finished {
  flex-basis: 100%;

  font-size: 14px;
  text-align: center;

  opacity: 0.7;
}

.visibility-filters {
  display: flex;
  justify-content: center;

  opacity: 0.7;
  font-size: 12px;

  margin-top: 16px;

  button {
    &:hover {
      text-decoration: underline;
    }
  }
}

.app-info {
  opacity: 0.5;

  font-size: 10px;
  line-height: 12px;
  text-align: center;

  margin-top: 25px;

  .author {
    margin-top: 8px;

    display: block;

    a {
      color: black;
    }
  }
}

